.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  text-align: center;
  margin: 50px;
  }

form * {
  margin: 10px;
}

form label {
  color: rgb(63, 25, 13);
}

form button {
  background-color: rgb(187, 41, 41);
  border-style: solid;
  border-radius: 3px;
  border-color: brown;
  color: rgb(180, 161, 161);
}

form button:hover {
  background-color: rgb(224, 73, 73);
  border-style: solid;
  border-radius: 3px;
  border-color: rgb(199, 97, 97);
  color: white;
}
